<div class="layout" style="height: 100%">
  <mat-toolbar color="primary" class="">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>VNPTNet CSHT</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav mode= "side" opened>
      <div class="menu-header">
        <div class="mn-header-top {{isCollapsed? 'mn-header-top-small':''}}">
          <div class="mn-hd-tLeft"><a class="logo-a-sidebar" [routerLink]="['/welcome']">
              <img src="assets/image/logo.png" [ngClass]="isCollapsed?'image-small':'image'" />
              <span>VNPTNet Oss</span>
            </a></div>
          <!-- <div class="mn-hd-tRight"><i class="trigger trigger-white" *ngIf="!isMobile" mat-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i></div> -->
        </div>
        <div class="mn-header-bot {{isCollapsed? 'mn-header-bot-small':''}}">
          <div class="group-avt">
            <div class="acc-name">{{name}}</div>
            <div class="acc-email">{{email}}</div>
            <figure><img class="avt-image" [src]="avatarUrl" [alt]="name"></figure>
          </div>
        </div>
      </div>
      <div class="menu-content">
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
          <ng-template #menuTpl let-menus>
            <ng-container *ngFor="let menu of menus">
              <li class="menu-item menu-item-flex" *ngIf="menu.menuChildren == null || menu.menuChildren.length == 0">
                <i class="icon_menu" mat-icon>{{menu.icon}}</i>
                <a [routerLink]="[menu.url]"
                  (click)="selectedMenu = menu;isMobile?isCollapsed = !isCollapsed:isCollapsed = isCollapsed"
                  style="color: rgba(255,255,255,.65);">
                  <span>{{menu.name.trim()}}</span></a>
              </li>
              <li *ngIf="menu.menuChildren != null && menu.menuChildren.length > 0" nz-submenu
                [(nzOpen)]="openMenuMap[menu.menuId]" (nzOpenChange)="openHandler(menu.menuId)"
                [nzPaddingLeft]="menu.parentId == 0 ? 12 : 20" [nzTitle]="menu.name.trim()"
                [nzIcon]="menu.icon != null?menu.icon:'menu'">
                <ul>
                  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.menuChildren }"></ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-template>
        </ul>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <header>
        <div class="col-md-12">
          <div class="row">
            <div class="col-4 col-md-6">
              <!-- <i class="trigger" nz-icon *ngIf="isMobile" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"></i> -->
            </div>
            <div class="col-4 col-md-4"><a class="logo-a-mobile" [routerLink]="['/user']"><img
                  src="assets/image/logo.png" class="image logo-responsive"></a></div>
            <div class="col-4 col-md-2 text-right">
              <button class="dropdown-toggle header-icon" [matMenuTriggerFor]="menu">
                <div mat-card-avatar src="avatarUrl"></div>
                <span class="d-none d-sm-inline-block" style="width: 5px;"></span>
                <span class="d-none d-sm-inline-block user-info">{{name}}</span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/user/profile"><i class="fal fa-user"
                    style="margin-right: 5px;"></i>&nbsp;{{ 'profile' | translate }}> </button>
                <button mat-menu-item routerLink="/user/profile/change-password"><i class="fal fa-lock"
                    style="margin-right: 5px;"></i>{{ 'change_password' | translate }}> </button>
                <button mat-menu-item (click)="logout()"><i class="fal fa-sign-out-alt"
                    style="margin-right: 5px;"></i>{{'sign_out' | translate}} > </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </header>
      <div id="content" style="overflow: hidden !important;position: relative">
        <header class="site-page-header"></header>
        <div class="inner-content">
          <nz-breadcrumb *ngIf="status != '0'" [nzAutoGenerate]="true" nzSeparator="/">
            <nz-breadcrumb-item>
              <a routerLink="/welcome"><span>Trang chủ</span></a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
          <div class="group-inner-content">
            <router-outlet></router-outlet>
          </div>
        </div>
        <footer>OSS</footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ngx-scrolltop></ngx-scrolltop>