<div class="search-form search-only-input">
    <div class="btn-right">
      <div class="input-wrap">
        <!--      <input class="form-control" type="text" name="search" autocomplete="off" [(ngModel)]="searchText"-->
        <!--             (input)="searchActions()" placeholder="Tên action">-->
        <mat-form-field appearance= "legacy">
          <input matInput type="text" class="form-control" [(ngModel)]="searchText" nz-input
                 (keyup.enter)="searchActions()"
                 placeholder="Tìm kiếm theo tên action"/>
          <mat-icon style="cursor: pointer" (click)="searchActions()">search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-left">
      <button mat-flat-button color="primary" class="btn-add btn-add-asset" type="button" (click)="showModalAdd()">
        <em class="fas fa-plus"></em> {{'add_user' | translate }}
      </button>
      <app-add-action [isVisibleAdd]="isVisibleAdd" (dataAdd)="updateActions($event)"
                      [data]="action" (submitAdd)="closeModelAdd($event)">
      </app-add-action>
    </div>
  
  </div>
  
  <div class="data-table">
    <nz-table
      #basicTable
      nzShowSizeChanger
      [nzData]="data"
      [nzPageSize]="defaultPage"
      nzSize="small"
      [nzShowTotal]="rangeTemplate"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzFrontPagination]="false"
      [(nzPageIndex)]="page"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getListAction()"
      (nzPageSizeChange)="getListAction(true)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)">
      <thead>
      <tr>
        <th class="text-nowrap" width="50px">#</th>
        <th class="text-nowrap">{{'action' | translate }}</th>
        <th class="text-nowrap">{{'name' | translate }}</th>      
        <th class="text-nowrap" width="80px">{{'action' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index" [attr.data-index]="i">
        <td class="text-nowrap">{{getRowIndex(i, basicTable.nzPageIndex, basicTable.nzPageSize)}}</td>
        <td class="text-nowrap">{{ data.name }}</td>
        <td class="text-nowrap">{{ data.nameAscii }}</td>      
        <td>
          <button *ngIf="!isView " class="button-update btn-icon " nz-popconfirm
                  style="float: right"
                  [nzPopconfirmTitle]="'content_confirm_delete' | translate" [nzCancelText]="nzCanceText"
                  [nzOkText]="nzOkText"
                  (nzOnConfirm)="deleteContract(data)"
                  nzPopconfirmPlacement="top" nz-button
                  nzType="link" nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="{{ 'delete' | translate }}"><i
            class="fal fa-trash-alt"></i></button>
          <button mat-flat-button color="link" class="button-update btn-icon" class="button-update btn-icon"
                  (click)="showModalUpdate(data)"><i class="far fa-pencil-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
  </ng-template>
  