<button mat-button class="btn-export" [matMenuTriggerFor]="menu">
  <mat-icon>download</mat-icon> {{ 'export_report' | translate }} {{ isDownloading }}
  <mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu" >
  <ul nz-menu>
    <li nz-menu-item >
      <report-download
        [url]="url"
        [fileName]="fileName"
        title="{{ 'export_report_excel' | translate }}"
        [format]="'xls'"
        [icon]="'file-excel'"
        [isAll]="isAll"
        [params]="params"
        [dataChoose]="dataChoose"
        (downloadEvent) = "isDownloading"
        >
      </report-download>
    </li>

    <li nz-menu-divider></li>

    <li nz-menu-item >
      <report-download
        [url]="url"
        [fileName]="fileName"
        title="{{ 'export_report_pdf' | translate }}"
        [format]="'pdf'"
        [isAll]="isAll"
        [icon]="'file-pdf'"
        [params]="params"
        [dataChoose]="dataChoose"
        (downloadEvent) = "isDownloading"
        >
      </report-download>
    </li>
  </ul>
</mat-menu>
