<form [formGroup]="formSearch" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12 form-search">
      <div class="row">
        <div class="col-md-4">
          <div class="input-wrap">
            <label class="title-detail">{{ "name" | translate }}</label>
            <input matInput formControlName="name" (keyup.enter)="onSubmit()" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-wrap">
            <label class="title-detail">{{ "email" | translate }}</label>
            <input matInput formControlName="email" (keyup.enter)="onSubmit()" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-wrap">
            <label class="title-detail">{{ "mobile" | translate }}</label>
            <input matInput formControlName="mobile" (keyup.enter)="onSubmit()" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-wrap">
            <label class="title-detail">{{ "group" | translate }}</label>
            <mat-select formControlName="groupId">
              <mat-option *ngFor="let option of groups" value="option.groupId">{{option.name}</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-wrap">
            <label class="title-detail">{{ "status" | translate }}</label>
            <mat-select formControlName="status">
              <mat-option value="1">Active</mat-option>
              <mat-option value="0">InActive</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-wrap">
            <label class="title-detail">{{ "username_login" | translate }}</label>
            <input matInput formControlName="username" (keyup.enter)="onSubmit()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="group-table-btnAdd">
  <div class="search-form search-form-user">
    <button mat-button class="btnAdd btnAddUser" color="primary" (click)="showModalAdd()" *ngIf="checkAdd">
      <em class="fas fa-plus"></em> {{ "add_user" | translate }}
    </button>

    <report-download-selection [url]="DOWNLOAD_REPORT_URL" [fileName]="REPORT_NAME" [isAll]="!(numberOfChecked > 0)"
      [params]="searchParam" [dataChoose]="getCheckedIdList()">
    </report-download-selection>

    <button mat-button class="btn-delete btn-delete-user" color="danger" (click)="showConfirm()"
      *ngIf="checkDelete && numberOfChecked != 0">
      {{ "delete" | translate }}
    </button>

    <button mat-button [hidden]="false" class="btnAdd btnAddUser" color="primary" type="button"
      (click)="showModalImport()" *ngIf="checkImport">
      <em class="fas fa-plus"></em> {{ "Import" | translate }}
    </button>

    <button mat-button color="primary" style="margin-left: 5px" class="button-search" (click)="onSubmit()">
      <i nz-icon nzType="search"></i>{{ "search" | translate }}
    </button>
  </div>
  <div class="data-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="checkAllRow($event === null)" [checked]="isAllDisplayDataChecked"
            [indeterminate]="isIndeterminate">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="refreshStatus()"
            [checked]="mapOfCheckedId[data.userId]">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <th mat-cell *matCellDef="let element"> # </th>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> {{ "name" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.name}} </th>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> {{ "username" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.username}} </th>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> {{ "email" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.email}} </th>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> {{ "mobile" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.mobile}} </th>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> {{ "status" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.status}} </th>
      </ng-container>

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> {{ "group_name" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.group_name}} </th>
      </ng-container>

      <ng-container matColumnDef="#" *ngIf="checkUpdate">
        <th mat-header-cell *matHeaderCellDef> {{ "action" | translate }} </th>
        <th mat-cell *matCellDef="let element"> {{element.action}} </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} {{ "of" | translate }} {{ total }}
      {{ "items" | translate }}
    </ng-template>
  </div>
  <div *ngIf="user != null || (roles.length > 0 && groups.length > 0)">
    <app-update-user [isVisible]="isVisible" [user]="user" (data)="updateUser($event)"
      (submitUpdate)="closeModalUpdate($event)" [groups]="groups"></app-update-user>
  </div>
  <div *ngIf="roles.length > 0 && groups.length > 0">
    <app-add-user [isVisibleAdd]="isVisibleAdd" (dataAdd)="addUser($event)" (submitAdd)="closeModalAdd($event)"
      [groupsAdd]="groups"></app-add-user>
  </div>
  <ng-container *ngIf="isVisibleRole">
    <app-roles-user-modal (cancel)="closeModalAuthen($event)" [isVisibleRole]="isVisibleRole" [nodes]="nodes"
      [defaultCheckedKeys]="defaultCheckedKeys" [user]="user" [titleModelRole]="'Phân quyền người dùng'">
    </app-roles-user-modal>
  </ng-container>
  <app-user-import [isVisibleImport]="isVisibleImport" (modalState)="toggleModalImport($event === null)"></app-user-import>
</div>